/*
 ===============
 # checkout-page
 ===============
*/
.checkout-page {padding:0;

  .left-block {padding:1rem 3rem 1rem 6% !important;
             background:var(--white2);

    .page-hierarchy {gap:1rem;
                     margin:2rem 0 1.5rem;
              
      p {font-size:1.1rem;}
      p:first-child {color:var(--gray10);}
      p:nth-child(3) {color:var(--gray5);}

      svg,i {color:var(--gray9);}
    }

    .blocks {width:100%;
             gap:2rem;

      .block {width:100%;
              display:flex;
              flex-direction:column;
              justify-content:flex-start;
              align-items:flex-start;
              gap:0.8rem;}

      .pay-block {display:block;

        .buttons {gap:0.5rem;
                  flex-wrap:wrap;

          button {flex:1 1 15rem;
                  border-radius:0.3rem;}

          button:first-child {font-weight:bold;
            span {padding:0.3rem 0.4rem;
                  border-radius:0.4rem;
                  color:var(--blue5);
                  background-color:var(--white2);}
            }
          button:nth-child(2) {
            svg,i {color:var(--red9);
                   margin-right:0.1rem;
                   font-size:1.1rem;
            }
          }
        }

        .line {margin-top:1rem;
               gap:1rem;
          hr {flex:1 1 20rem;
              height:1px;
              color:var(--gray8);}
          span {color:var(--gray5);
                text-transform:uppercase;}
        }
      }

      .contact-block {

        .heading {width:100%;
                  padding:0 !important;
                  
          .right-block {gap:0.2rem;
                        font-size:1rem;
                        padding:0 !important;
                        border:none;
                        background:transparent;}
        }

        .input-parent {width:100%;
                       height:3.5rem;
                       padding:0 0 0 0.5rem;
                       border-radius:0.6rem;
                       border:1px solid var(--gray4);

          .input-box {position:relative;
                      width:95%;

            label {color:var(--gray5);
                   font-size:1rem;
                   text-transform:none;
                   line-height:1rem;
                   position:absolute;
                   top:50%;
                   transform:translateY(-50%);
                   left:0;
                   transition:all 0.3s linear;}
  
            input[type="text"] {width:100% !important;
                                background-color:transparent;
                                color:var(--gray10);
                                font-size:1.1rem;
                                padding:0 0 0.1rem 0;
                                margin:0;
                                margin-top:1.1rem;
                                border:none;}
  
            input[type="text"]:focus {background:transparent !important;
                                      background-color:transparent !important;
                                      box-shadow:none !important;
                                      outline:none;}

            input[type="text"]:focus ~ label, 
            input[type="text"]:valid ~ label {top:calc(50% - 0.8rem);}
          }

          span {display:flex;
                justify-content:center;
                align-items:center;
                height:100% !important;
                padding:0.5rem 1.5rem !important;
                font-size:1.4rem;
                background-color:var(--primary9);
                color:var(--white2);
                border-top-right-radius:8px;
                border-bottom-right-radius:8px;}
        }

        .checkbox-parent {gap:0.4rem;
                          padding:0;
          label {font-size:0.9rem;
                 text-transform:none;
                 color:var(--gray9);}
        }
      }

      .delivery-block {
        .check-parent {width:100%;
          .check {width:100%;
                  gap:0.8rem;
                  padding:0.7rem 0.9rem;
                  border:1px solid var(--gray4);
                  cursor:pointer;

              svg {font-size:1rem;}

              &:first-child {border-top-left-radius:0.3rem;
                             border-top-right-radius:0.3rem;}

              &:last-child {border-bottom-left-radius:0.3rem;
                            border-bottom-right-radius:0.3rem;
                            border-top:none;}

              &.selectedcheck {background-color:var(--lightblue1);}
          }
        }
      }

      .shipping-block {padding:0;

        form {width:100%;
              gap:0.7rem;

          .input-parent {width:100%;
                         height:3rem;
                         padding:0 0 0 0.5rem;
                         border-radius:0.6rem;
                         border:1px solid var(--gray4);
                         position:relative;

            label {color:var(--gray5);
                  font-size:1rem;
                  text-transform:none;
                  position:absolute;
                  top:50%;
                  transform:translateY(-50%);
                  left:0.5rem;
                  transition:all 0.3s linear;}

            input[type="text"] {width:100% !important;
                                color:var(--black2);
                                background-color:transparent;
                                font-size:1.1rem;
                                padding:0 0 0.1rem 0;
                                margin:0;
                                margin-top:1.1rem;
                                border:none;}

            input[type="text"]:focus {background:transparent !important;
                                      background-color:transparent !important;
                                      box-shadow:none !important;
                                      outline:none;}

            input[type="text"]:focus ~ label, 
            input[type="text"]:valid ~ label {top:calc(50% - 0.8rem);}

            .phone-icon {padding:0.7rem 1.7rem !important;
                         height:100% !important;
                         background-color:var(--primary9);
                         color:var(--white2);
                         border-top-right-radius:8px;
                         border-bottom-right-radius:8px;}
          }

          .inputs-box {width:100%;
                       gap:0.6rem;}

          .btn2 {margin:0.4rem 0 1rem;
                 border-radius:0.4rem;
                 letter-spacing:0.5px;}
        }
      }
    }
  }

  .right-block {padding:1rem 6% 1rem 3rem !important;
              background:var(--gray1);
              border-left:1.5px solid var(--gray4);

    .products {width:100%;
               margin-bottom:3rem;

      .product-item {width:100%;
                     margin:0.5rem 0;
                     padding:0.5rem 0;

        .content {gap:1rem;
          .image {position:relative;

            .value {width:fit-content;
                    height:fit-content;
                    padding:5px;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    color:var(--gray3);
                    background-color:var(--gray10);
                    border-radius:50%;
                    margin-bottom:1rem;
                    position:absolute;
                    top:-0.5rem;
                    right:-0.8rem;

              span {width:fit-content;
                    height:fit-content;
                    padding:0;
                    margin:0;
                    font-size:0.7rem;
                    line-height:6px;}
            }

            img {width:4rem;
                 height:4rem;}
          }
          .details {
            h5 {font-weight:bold;}
            p {color:var(--gray5);
               font-size:0.8rem;}
          }
        }
        p {color:var(--gray9);
           margin:0 !important;}

        p.pro-price {font-weight:bold;}

      }
    }


    .discount-block {width:100%;
                     gap:0.8rem;

      .input-parent {width:100%;
                     margin-bottom:1.5rem;
      
        input[type="text"] {width:80%;
                            background-color:var(--white);
                            border:1px solid var(--gray4);
                            padding:0.7rem 0.8rem;
                            border-radius:0.5rem;}
      
        button {padding:0.7rem 1rem;
                height:fit-content;
                font-size:1rem;
                font-weight:bold;
                text-transform:capitalize;
                border-radius:0.3rem;
                border:none;
                color:var(--gray10);
                background-color:var(--gray4);}
      }
      
      p {width:100%;
         font-size:1rem;
         color:var(--gray10);}
      p.subtotal {font-weight:bold;}
      p.total {font-weight:bold;}
    }

    .btn2 {width:100%;
           margin-top:2rem;}
  }
}